* {
  box-sizing: border-box;
  margin: 0 auto;
}

html,
body {
  padding: 0;
  background-color: #5f9f9f;
  font-family: 'Arial', sans-serif;
  width: 100%;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  text-align: left;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  /* font-size: 25px; */
}

header .Hii-user {
  color: rgb(255, 255, 255);
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

main {
  margin-bottom: 84px;
}

footer {
  background-color: #161616;
  color: #ffffff;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
  width: 100%;
  font-size: 30px;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

.loginAndRegisterNavBar {
  font-size: 25px;
}

.site-logo {
  font-size: 30px;
}

/*** HOME PAGE ***/
.home-welcome-txt {
  text-align: center;
  color: #161616;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url("./images/xXMabYYezGITsPPA8PduAZXEmXvz0Xr71FEQGqy4.png") no-repeat center center;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px 10px 10px 10px;
  min-height: 600px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #161616;
  border: none;
  width: 100%;
  margin-top: 27px;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** LOGIN PAGE ***/
.loginDiv {
  text-align: center;
  margin-top: 40px;
}

.loginDiv button {
  color: white;
  font-size: 25px;
  padding: 10px;
}

.loginForm,
input {
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
}

.loginForm input:focus {
  outline: none;
  border-color: #ff5e5e;
  box-shadow: 0 0 5px rgba(255, 69, 69, 0.5);
}

/*** REGISTER PAGE ***/
.registerDiv {
  text-align: center;
  margin-top: 40px;
}

.registerForm,
input {
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
}

.registerForm input:focus {
  outline: none;
  border-color: #ff5e5e;
  box-shadow: 0 0 5px rgba(255, 69, 69, 0.5);
}

.registerForm button {
  color: white;
  font-size: 19px;
}

/*** end of register ***/

.endOfRegisterForm {
  font-size: 25px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.endOfRegisterForm h2 {
  color:#333;
}

.registerHeader {
  color: #333;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

.endOfRegisterForm input:focus {
  outline: none;
  border-color: #ff5e5e;
  box-shadow: 0 0 5px rgba(255, 69, 69, 0.5);
}

.endOfRegisterBtn{
  color: white;
  font-size: 25px;
}





/*** ABOUT PAGE ***/
.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #b36d6de9;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/* TODOS PAGE */

/* Header */
.todos-header {
  font-size: 40px;
  margin-top: 10px;
  color: #4D4D4D;
}

/* Filter Select */
.filterSelect {
  text-align: left;
  margin-top: 20px;
  color: #4D4D4D;
}

.filterSelect label {
  font-size: 20px;
  margin-right: 10px;
}

.filterSelect select {
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  color: #4D4D4D;
}

/* Search Section */
.searchSection {
  margin-top: 20px;
}

.searchSection div {
  margin-bottom: 10px;
}

.searchSection label {
  font-size: 20px;
  margin-right: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccccccc0;
  border-radius: 5px;
}



.searchSection input {
  padding: 5px;
  border: 1px solid #ccccccad;
  width: 200px;
  font-size: 18px;
  border-radius: 5px;
}

.searchSection input:focus {
  outline: none;
  border-color: #ff5e5e;
  box-shadow: 0 0 5px rgba(255, 69, 69, 0.5);
}

.searchSection button {
  font-size: 16px;
  padding: 8px;
  border: none;
  background-color: #e44756;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.searchSection button:hover {
  background-color: #c82333;
}

.searchDiv {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.searchByIdAndTitle {
  font-size: 20px;
}

.filterAndAddDiv {
  justify-content: space-between;
  margin-right: 10px;
  gap: 12px;
}

/* Todos List */
.todos-list {
  margin-top: 20px;
}

.left-content:hover {
  color: #e44756;
}

/* Todo Item */
.todo-item {
  background-color: #f5f5f59c;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  align-items: left;
  margin-left: 0;
}

.left-content button {
  color: white;
}

.right-content {
  display: flex;
  gap: 10px;
  text-align: right;
  margin-right: 0;
}


.todo-item input[type="checkbox"] {
  margin-right: 10px;
  color: #e44756;

}

.todo-item input[type="checkbox"]:hover {
  color: #1ea6af;
}

.todo-item span {
  font-size: 18px;
  margin-right: 10px;
}

button {
  font-size: 16px;
  padding: 8px;
  border: none;
  margin: auto;
  background-color: #e44756;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}

.deleteBtn,
.editBtn {
  background-color: #ffc8c8;
}

/* Albums.css */

.album-header {
  font-size: 40px;
  margin-top: 10px;
  color: #4D4D4D;
}

.albums-container {
  max-width: 800px;
  margin: 0 auto;
}

.search-input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
}

.search-input input:focus {
  outline: none;
  border-color: #ff5e5e;
  box-shadow: 0 0 5px rgba(255, 69, 69, 0.5);
}

.create-album-container input:focus {
  outline: none;
  border-color: #ff5e5e;
  box-shadow: 0 0 5px rgba(255, 69, 69, 0.5);
}

.create-album-container {
  width: 200px;
}

.no-matching-albums {
  color: red;
  font-weight: bold;
}

.album-link {
  text-decoration: none;
  color: #333;
  margin-bottom: 20px;
  display: block;
}

.album-id,
.album-title {
  margin: 0;
  font-size: 20px;
}

.album-items {
  background-color: #f5f5f59c;
  color: #333;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
}

.album-items:hover {
  /* background-color: #ff6d6d; */

  color: #ff6d6d;
}

/* PHOTOS */

.photos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photos-header button {
  color: white;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.photos button {
  color: white;
}

.photos div {
  flex: 1 0 calc(10% - 10px);
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  background-color: #ddddddb7;
  border-radius: 5px;
}

.photos img {
  height: 150px;
  border-radius: 5px;

}

.addPhoto input {
  padding: 7px;
}

.addPhoto button {
  color: white;
}


.pagesBtn {
  display: flex;
  gap: 10px;
  color: #161616;
  margin-top: 25PX;
  font-size: 22px;
}

.photoDeleteBtn ,
.photoEditBtn {
  background-color: #ffc8c8;
  margin-right: 5PX;
  margin-top: 5px;
  margin-bottom: 0px;
}


/* Info.css */

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
}

.info-header {
  font-size: 40px;
  color: #4D4D4D;
}

.details,
.address,
.geo,
.company {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 35px;
}

.details h2,
.address h2,
.geo h2,
.company h2 {
  margin-top: 25;
  color: rgb(177, 82, 82);
}

.details p,
.address p,
.geo p,
.company p {
  margin: 25;
  font-size: 20px;
}

/*** ENTER PAGE ***/

.enterPage {
margin-left: 50px;
margin-right: 50px;
background-color: #ddddddb9;
padding: 25px;
border-radius: 10px;
margin-top: 60px;
}

.loginAndRegisterBtn {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  display: flex;
  gap: 5px;
}

.enterPage h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.enterPage h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.enterPage p {
  font-size: 18px;
  margin-bottom: 20px;
}

/*** POST PAGE ***/

.post-header {
  font-size: 40px;
    margin-top: 10px;
    color: #4D4D4D;
    padding-left: 40px;
}

.searchPost, .addPosts {
  padding-left: 40px;
}

.postItem {
  padding-left: 40px;
  padding-right: 40px;
}

